<div class='mt-8 w-96 flex justify-around'>
  <button
    id='start'
    aria-label='start timer'
    class='flex justify-center items-center bg-verde hover:bg-verde-oscuro text-white w-40 h-12 rounded-full font-[Roboto] font-bold'
  >
    <svg
      width='24'
      height='24'
      viewBox='0 0 24 24'
      fill='none'
      xmlns='http://www.w3.org/2000/svg'
      class='mr-2'
    >
      <path
        d='M17.9414 10.8086C18.4336 11.125 18.75 11.6875 18.75 12.25C18.75 12.8477 18.4336 13.4102 17.9414 13.6914L7.81641 19.8789C7.28906 20.1953 6.62109 20.2305 6.09375 19.9141C5.56641 19.6328 5.25 19.0703 5.25 18.4375V6.06251C5.25 5.46485 5.56641 4.90235 6.09375 4.6211C6.62109 4.30469 7.28906 4.30469 7.81641 4.65626L17.9414 10.8086Z'
        fill='white'></path>
    </svg>
    Iniciar
  </button>
  <button
    id='stop'
    aria-label='stop timer'
    class='hidden justify-center items-center bg-rojo hover:bg-rojo-oscuro text-white w-44 h-12 rounded-full font-[Roboto] font-bold'
  >
    <svg
      width='24'
      height='24'
      viewBox='0 0 24 24'
      fill='none'
      xmlns='http://www.w3.org/2000/svg'
      class='mr-2'
    >
      <path
        d='M15.9375 5.5C16.8516 5.5 17.625 6.27344 17.625 7.1875V17.3125C17.625 18.2617 16.8516 19 15.9375 19L14.8125 18.9648C13.8633 18.9648 13.125 18.1914 13.125 17.2773V7.15234C13.125 6.23828 13.8633 5.5 14.8125 5.5H15.9375ZM9.1875 5.5C10.1016 5.5 10.875 6.27344 10.875 7.1875V17.3125C10.875 18.2617 10.1016 19 9.1875 19H8.0625C7.11328 19 6.375 18.2617 6.375 17.3125V7.1875C6.375 6.23828 7.11328 5.5 8.0625 5.5H9.1875Z'
        fill='white'></path>
    </svg>

    Detener
  </button>
  <button
    id='reset'
    aria-label='reset timer'
    class='hidden mr-4 justify-center items-center bg-azul hover:bg-azul-oscuro text-white w-44 h-12 rounded-full font-[Roboto] font-bold'
  >
    <svg
      width='17'
      height='17'
      viewBox='0 0 17 17'
      fill='none'
      xmlns='http://www.w3.org/2000/svg'
      class='mr-2'
    >
      <path
        d='M16.875 8.25C16.875 12.6094 13.3242 16.125 9 16.125C7.27734 16.125 5.625 15.5977 4.25391 14.5781C3.76172 14.1914 3.65625 13.4883 4.04297 12.9961C4.42969 12.5039 5.13281 12.3984 5.625 12.75C6.60938 13.4883 7.76953 13.875 9 13.875C12.0938 13.875 14.625 11.3789 14.625 8.25C14.625 5.15625 12.0938 2.66015 9 2.66015C7.66406 2.66015 6.43359 3.11718 5.41406 3.92578L7.03125 5.50781C7.62891 6.10547 7.17188 7.16015 6.32812 7.16015H1.23047C0.84375 7.16015 0.5625 6.84375 0.5625 6.45703V1.35937C0.5625 0.480466 1.58203 0.0585908 2.17969 0.656247L3.83203 2.34375C5.23828 1.11328 7.06641 0.410153 9 0.410153C13.3242 0.410153 16.875 3.92578 16.875 8.25Z'
        fill='white'></path>
    </svg>

    Reiniciar
  </button>
  <button
    id='continue'
    aria-label='resume timer'
    class='hidden justify-center items-center bg-verde hover:bg-verde-oscuro text-white w-40 h-12 rounded-full font-[Roboto] font-bold'
  >
    <svg
      width='24'
      height='24'
      viewBox='0 0 24 24'
      fill='none'
      xmlns='http://www.w3.org/2000/svg'
      class='mr-2'
    >
      <path
        d='M17.9414 10.8086C18.4336 11.125 18.75 11.6875 18.75 12.25C18.75 12.8477 18.4336 13.4102 17.9414 13.6914L7.81641 19.8789C7.28906 20.1953 6.62109 20.2305 6.09375 19.9141C5.56641 19.6328 5.25 19.0703 5.25 18.4375V6.06251C5.25 5.46485 5.56641 4.90235 6.09375 4.6211C6.62109 4.30469 7.28906 4.30469 7.81641 4.65626L17.9414 10.8086Z'
        fill='white'></path>
    </svg>
    Continuar
  </button>
</div>
