<style>
  #display-tyres p {
    background-color: #fff;

    background-image: linear-gradient(45deg, #000 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #000 75%),
      linear-gradient(45deg, transparent 75%, #000 75%),
      linear-gradient(45deg, #000 25%, transparent 25%);

    background-size: 100px 100px;

    background-position:
      0 0,
      0 0,
      -50px -50px,
      50px 50px;
  }
</style>

<div
  id='display-time'
  class='text-6xl my-6 text-white relative flex justify-center items-center'
>
  <img
    class='absolute top-2 left-2 z-10'
    width='40px'
    height='40px'
    src='imgs/fia.png'
    alt='fia logo'
  />
  <p
    id='display'
    class='w-[26rem] h-[7.5rem] bg-[#003063] border-4 border-white rounded-lg relative flex justify-center items-center font-[Roboto]'
  >
    01 : 00 : 00
    <span id='display-time-ml' class='!absolute top-4 right-6 text-sm'>000</span
    >
  </p>
  <span class='absolute bottom-2 text-xs text-center w-full'
    >FIA'S HOME RACE</span
  >
</div>

<div
  id='display-tyres'
  class='hidden text-6xl text-white relative justify-center items-center'
>
  <p
    class='w-[26rem] h-[7.5rem] bg-[#003063] rounded-lg m-6 relative flex justify-center items-center font-[Roboto]'
  >
    <img
      class='animate-spin-slow p-1'
      width='50px'
      height='50px'
      src='imgs/red-parentesi.webp'
      alt='soft tyres'
    />
    <img
      class='animate-spin-slow p-1'
      width='50px'
      height='50px'
      src='imgs/red-parentesi.webp'
      alt='soft tyres'
    />
    :
    <img
      class='animate-spin-slow p-1'
      width='50px'
      height='50px'
      src='imgs/yellow-parentesi.webp'
      alt='medium tyres'
    />
    <img
      class='animate-spin-slow p-1'
      width='50px'
      height='50px'
      src='imgs/yellow-parentesi.webp'
      alt='medium tyres'
    />
    :
    <img
      class='animate-spin-slow p-1'
      width='50px'
      height='50px'
      src='imgs/white-parentesi.webp'
      alt='hard tyres'
    />
    <img
      class='animate-spin-slow p-1'
      width='50px'
      height='50px'
      src='imgs/white-parentesi.webp'
      alt='hard tyres'
    />
  </p>
</div>
