<style>
  #display-time,
  #display-tyres {
    /* font stroke */
    -webkit-text-stroke: 3px black;
  }

  #display-time-ml {
    /* No font stroke */
    -webkit-text-stroke: 0;
    font-family: Roboto;
  }
</style>

<div
  id='display-time'
  class='text-6xl my-6 text-white relative flex justify-center items-center'
>
  <p
    id='display'
    class='w-[26rem] h-[7.5rem] bg-gradient-to-b to-[#FDE155] from-[#409947] rounded-lg relative flex justify-center items-center font-gta'
  >
    01 : 00 : 00
    <span id='display-time-ml' class='!absolute top-4 right-6 text-sm'>000</span
    >
  </p>
  <img
    class='absolute right-0 bottom-1'
    width='80px'
    height='80px'
    src='imgs/as-sign.svg'
    alt='Ayrton Senna Signature'
  />
</div>
<div
  id='display-tyres'
  class='hidden text-6xl text-white relative justify-center items-center'
>
  <p
    class='w-[26rem] h-[7.5rem] bg-gradient-to-b to-[#FDE155] from-[#409947] rounded-lg m-6 relative flex justify-center items-center font-[Roboto]'
  >
    <!-- <span class='animate-pulse'>00:00:00</span> -->

    <img
      class='animate-pulse'
      width='120px'
      height='120px'
      src='imgs/ayrton.png'
      alt='Ayrton Senna'
    />
  </p>
</div>
