<div
  id='display-time'
  class='text-6xl my-6 text-white relative flex justify-center items-center bg-[#662D91] rounded-lg'
>
  <img
    class='absolute top-0 z-0'
    width='371px'
    height='98px'
    src='imgs/papel-picado.svg'
    alt='papel picado'
  />
  <img
    class='absolute top-0 left-0 rounded-lg'
    src='imgs/flor-l.svg'
    alt='flor izquierda'
  />
  <img
    class='absolute top-1 right-1'
    src='imgs/petalos-r.svg'
    alt='petalos derecha'
  />
  <img
    class='absolute bottom-0 right-0 rounded-lg'
    src='imgs/flor-r.svg'
    alt='flor derecha'
  />
  <img
    class='absolute bottom-1 left-1'
    src='imgs/petalos-l.svg'
    alt='petalos izquierda'
  />
  <p
    id='display'
    class='w-[26rem] h-[7.5rem] rounded-lg relative flex justify-center items-center font-[Ribeye]'
  >
    01:00:00
    <span
      id='display-time-ml'
      class='!absolute top-4 right-12 text-sm font-[Ribeye]'>000</span
    >
  </p>
  <span
    class='absolute bottom-2 text-xs text-center w-full font-[Ribeye] text-[#FFC64A]'
  >
    México GP
  </span>
</div>

<div
  id='display-tyres'
  class='hidden text-6xl text-white relative justify-center items-center'
>
  <p
    class='w-[26rem] h-[7.5rem] bg-[#662D91] rounded-lg m-6 relative flex justify-center items-center font-[Ribeye]'
  >
    <img
      class='absolute top-0 z-0'
      width='371px'
      height='98px'
      src='imgs/papel-picado.svg'
      alt='papel picado'
    />
    <img
      class='absolute top-0 left-0 rounded-lg'
      src='imgs/flor-l.svg'
      alt='flor izquierda'
    />
    <img
      class='absolute top-1 right-1'
      src='imgs/petalos-r.svg'
      alt='petalos derecha'
    />
    <img
      class='absolute bottom-0 right-0 rounded-lg'
      src='imgs/flor-r.svg'
      alt='flor derecha'
    />
    <img
      class='absolute bottom-1 left-1'
      src='imgs/petalos-l.svg'
      alt='petalos izquierda'
    />
    <img
      class='animate-spin-slow p-1'
      width='50px'
      height='50px'
      src='imgs/red-parentesi.webp'
      alt='soft tyres'
    />
    <img
      class='animate-spin-slow p-1'
      width='50px'
      height='50px'
      src='imgs/red-parentesi.webp'
      alt='soft tyres'
    />
    :
    <img
      class='animate-spin-slow p-1'
      width='50px'
      height='50px'
      src='imgs/yellow-parentesi.webp'
      alt='medium tyres'
    />
    <img
      class='animate-spin-slow p-1'
      width='50px'
      height='50px'
      src='imgs/yellow-parentesi.webp'
      alt='medium tyres'
    />
    :
    <img
      class='animate-spin-slow p-1'
      width='50px'
      height='50px'
      src='imgs/white-parentesi.webp'
      alt='hard tyres'
    />
    <img
      class='animate-spin-slow p-1'
      width='50px'
      height='50px'
      src='imgs/white-parentesi.webp'
      alt='hard tyres'
    />
  </p>
</div>
