<div class='w-96 flex justify-evenly'>
  <button
    id='increaseTimeHours'
    aria-label='increase timer hours'
    class='group add-subtract-button'
  >
    <svg
      width='80'
      height='61'
      viewBox='0 0 80 61'
      fill='none'
      xmlns='http://www.w3.org/2000/svg'
      class='group'
    >
      <path
        d='M11.2111 60L68.7889 60C73.5811 60 76.4394 54.6591 73.7812 50.6718L44.9923 7.48846C42.6174 3.92606 37.3826 3.92606 35.0077 7.48845L6.2188 50.6718C3.56059 54.6591 6.41893 60 11.2111 60Z'
        fill='white'
        stroke='#BDBDBD'></path>
      <path
        d='M40 28V48'
        stroke-width='4'
        stroke-linecap='round'
        class='stroke-[#27AE60] group-hover:stroke-[#219653] group-disabled:stroke-[#C5DDCF]'
      ></path>
      <path
        d='M50 38L30 38'
        stroke-width='4'
        stroke-linecap='round'
        class='stroke-[#27AE60] group-hover:stroke-[#219653] group-disabled:stroke-[#C5DDCF]'
      ></path>
    </svg>
  </button>
  <button
    id='increaseTimeMinutes'
    aria-label='increase timer minutes'
    class='group add-subtract-button'
  >
    <svg
      width='80'
      height='61'
      viewBox='0 0 80 61'
      fill='none'
      xmlns='http://www.w3.org/2000/svg'
      class='group'
    >
      <path
        d='M11.2111 60L68.7889 60C73.5811 60 76.4394 54.6591 73.7812 50.6718L44.9923 7.48846C42.6174 3.92606 37.3826 3.92606 35.0077 7.48845L6.2188 50.6718C3.56059 54.6591 6.41893 60 11.2111 60Z'
        fill='white'
        stroke='#BDBDBD'></path>
      <path
        d='M40 28V48'
        stroke-width='4'
        stroke-linecap='round'
        class='stroke-[#27AE60] group-hover:stroke-[#219653] group-disabled:stroke-[#C5DDCF]'
      ></path>
      <path
        d='M50 38L30 38'
        stroke-width='4'
        stroke-linecap='round'
        class='stroke-[#27AE60] group-hover:stroke-[#219653] group-disabled:stroke-[#C5DDCF]'
      ></path>
    </svg>
  </button>
  <button
    id='increaseTimeSeconds'
    aria-label='increase timer seconds'
    class='group add-subtract-button'
  >
    <svg
      width='80'
      height='61'
      viewBox='0 0 80 61'
      fill='none'
      xmlns='http://www.w3.org/2000/svg'
      class='group'
    >
      <path
        d='M11.2111 60L68.7889 60C73.5811 60 76.4394 54.6591 73.7812 50.6718L44.9923 7.48846C42.6174 3.92606 37.3826 3.92606 35.0077 7.48845L6.2188 50.6718C3.56059 54.6591 6.41893 60 11.2111 60Z'
        fill='white'
        stroke='#BDBDBD'></path>
      <path
        d='M40 28V48'
        stroke-width='4'
        stroke-linecap='round'
        class='stroke-[#27AE60] group-hover:stroke-[#219653] group-disabled:stroke-[#C5DDCF]'
      ></path>
      <path
        d='M50 38L30 38'
        stroke-width='4'
        stroke-linecap='round'
        class='stroke-[#27AE60] group-hover:stroke-[#219653] group-disabled:stroke-[#C5DDCF]'
      ></path>
    </svg>
  </button>
</div>
