<div id='sesion-selector-container'>
  <label for='sesion-selector' class='sr-only'>Sesión selector</label>
  <select
    id='sesion-selector'
    name='sesion-selector'
    class='add-subtract-button mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6 font-[Roboto]'
  >
    <option>Selecciona una sesión</option>
    <option value='T'>Test de Pretemporada</option>
    <option value='FP'>Prácticas</option>
    <option value='Q1'>Q1</option>
    <option value='Q2'>Q2</option>
    <option value='Q3'>Q3</option>
    <option value='SQ1'>SQ1</option>
    <option value='SQ2'>SQ2</option>
    <option value='SQ3'>SQ3</option>
    <option value='R'>Carrera</option>
  </select>
</div>
