---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='es' class='dark'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta
      name='description'
      content='Cronómetro simple para sesiones de Formula 1'
    />
    <meta name='author' content='Jhonatan Laguna' />
    <meta name='keywords' content='cronometro, f1, formula 1' />
    <meta property='og:title' content='Soy Cronómetro' />
    <meta
      property='og:description'
      content='Cronómetro simple para sesiones de Formula 1'
    />
    <meta property='og:type' content='website' />
    <meta property='og:url' content='https://soycronometro.pages.dev' />
    <meta
      property='og:image'
      content='https://soycronometro.pages.dev/imgs/Cronometro.png'
    />
    <meta property='og:image:width' content='800' />
    <meta property='og:image:height' content='990' />
    <meta property='og:site_name' content='Soy Cronómetro' />
    <meta property='og:locale' content='es_ES' />
    <meta name='twitter:card' content='summary' />
    <meta name='twitter:site' content='@jhonatanlaguna' />
    <meta name='twitter:creator' content='@jl4guna' />
    <meta name='twitter:title' content='Soy Cronómetro' />
    <meta
      name='twitter:description'
      content='Cronómetro simple para sesiones de Formula 1'
    />
    <meta
      name='twitter:image'
      content='https://soycronometro.pages.dev/imgs/Cronometro.png'
    />
    <meta name='twitter:image:alt' content='Cronómetro' />
    <meta name='twitter:domain' content='soycronometro.pages.dev' />

    <meta name='theme-color' content='#ff0057' />

    <link rel='icon' type='image/svg+xml' href='/favicon.ico' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>

    <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
    <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
    <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
    <link rel='manifest' href='/site.webmanifest' />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
